.location{
    -fx-background-color: red;
    -fx-border-radius: blue;

}

.world_map{
    -fx-background-color: #fff;
}

.country_operational{
    -fx-fill: #143664;
}
.country_operational:hover{
    -fx-fill: #63B2E1;
}
.country_operational:selected{
    -fx-fill: #f61cf6;
}

.unsuportedButton{
    -fx-background-color: #e8f5e9;
    -fx-background-radius: 10;
}
.unsuportedIcon{
    -fx-stroke: #2ba746;
}

.unsuportedButton:hover{
    -fx-background-color: #63B2E1;
}
.unsuportedButton:hover .unsuportedIcon{
   -fx-stroke: #fff;
    -fx-fill: #fff;
}



